@{
    ViewData["Title"] = "Home Page";
}
<!-- Page content -->
<div>

    <h1 tabindex="0" class="page-title"><b><u>Photo Competition</u></b></h1>

    <div class="image-container">
        <!-- src and alt attribute will be populated by index.js on page load -->
        <img tabindex="0" id="main-image" class="main-image" src="@ViewBag.PictureURL" alt="Windows XP Background">
        <table class="image-details">
            <tbody>
                <tr>
                    <td tabindex="0"><b>Author</b></td>
                    <td tabindex="0" id="author-name">@ViewBag.Author</td>
                </tr>
                <tr>
                    <td tabindex="0"><b>Name</b></td>
                    <td tabindex="0" id="image-name">@ViewBag.NameOfPic</td>
                </tr>
                <tr>
                    <td tabindex="0"><b>Licence</b></td>
                    <td tabindex="0" id="licence-info">@ViewBag.License</td>
                </tr>
            </tbody>
        </table>
        @using (Html.BeginForm("SendVoteUp", "Home", FormMethod.Post, new { id = ViewBag.id }))
        {
            <input type="hidden" name="id" value="@ViewBag.id" />
            <div class="voting-buttons">
                <input type="submit" class="Submit" name="I like it" id="Submit" value="I like it" />
            </div>
        }
        @using (Html.BeginForm("SendVoteDown", "Home", FormMethod.Post, new { id = ViewBag.id }))
        {
            <input type="hidden" name="id" value="@ViewBag.id" />
            <div class="voting-buttons">
                <input type="submit" class="Submit" name="I Hate it" id="Submit" value="I Hate it" />
            </div>
        }
    </div>

</div>
